---
import Header from "../../components/Header/Header";


---

<!doctype html>
<html lang="en">
	<body>
		<main>
			<Header />
			<section class="my-5">
				In Progress!
			</section>
		</main>
	</body>
</html>

<style>
    main {
        width: 720px;
        /* max-width: calc(100% - 2em); */
        margin: auto;
        padding: 3em 1em;
    }
    ul {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
</style>