---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

import Header from "../components/Header/Header"
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<Header />
	</head>
	<body>
		<main>
			<div class="text-4xl">Hello! My name is Kyle.</div>
			<p>
				I'm a programmer who focuses on web development to solve real world problems. 
				This website serves as my portfolio and where I post blog posts. As of now,
				I plan to post leetcode solutions and possibly some development
				logs of my own personal projects.
			</p>
		</main>
	</body>
</html>